[flake8]
ignore =
    F401
    RST301  # Indented blocks in docstrings; figure this out later
max-line-length = 79
max-complexity = 35
# What does the complexity refer to?
rst-roles =
    class
    func
    mod
    meth
    attr
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
